html, body {
    		height: 100%;
    		margin: 0;
    		overflow-x:hidden;
    	}
div.relative {
    position: relative;
    width: 100%;
}
.prim{
	width: 120%;
	height: 600px;
	background-color: #FF7300;
	position: absolute;
    right: -35%;
    float: right;
    transform: rotate(-50deg);
}
.segu{
	width: 95%;
	border:solid black 1px;
	height: 500px;
	background-color: white;
	position: absolute;
    top: 500px;
    left: -35%;
    transform: rotate(40deg); 	
}
.terc{

	background-color: #1C1C1C;
	width: 120%;
	height: 200px;
	position: absolute;
    top: 800px;
    right: -35%; 
    transform: rotate(-50deg); 	
}
.quar{
	background-color: #FF7300;
	width: 2900px;
	height: 800px;
	position: absolute;
   	top: 1500px;
    left: -900px;
	-ms-transform: rotate(40deg); 
    -webkit-transform: rotate(40deg); 
    transform: rotate(40deg);
}
.quin{

	background-color: #1C1C1C;
	width: 800px;
	height: 800px;
	position: absolute;
    top: 1550px;
    left: -500px;
    transform: rotate(40deg);
    z-index: -1;
}

div.absolute {
	width: 1000px;
	height: 400px;
	background-color: red;
	 position: absolute;
    top: 80px;
    right: -60%;
	-ms-transform: rotate(-20deg); 
    -webkit-transform: rotate(-20deg); 
    transform: rotate(-20deg); 
}