/* GLOBAL ------------------------------------------------------------------- */
.novo_usuario{
    margin-top: 8%;
    margin-bottom: 120px;
}

/* CABEÇALHO ---------------------------------------------------------------- */
.novo_usuario h1{
    font-size: 90px;
    text-transform: uppercase;
    font-weight: 800;
    color: black;
    margin-bottom: 50px;
}
.titulo{
    display: inline-block;
    background-color: #ef914c;
    color: white;
    padding-right: 20px;
    
}

/* FORMULÁRIO --------------------------------------------------------------- */
.novo_usuario h2{
    text-transform: uppercase;
    font-weight: 800;
    color: black;
    font-size: 12px;
    margin-bottom: 0px;
    margin-top: 30px;
}
.novo_usuario hr{
    margin-top: 2px;
}
.novo_usuario form{
    margin-top: 30px;
    margin-bottom: 30px;
}
.novo_usuario label{
    font-size: 10px;
    font-weight: 400;
    text-align: right;
    padding-right: 0px;
    text-transform: uppercase;
}
.novo_usuario input[class=form-control]{
    border: 1px solid #444;
    border-radius: 0px;
    font-weight: 400 !important; 
}
.novo_usuario input[type=file]{
    border: 1px solid #444;
    border-radius: 0px;
    font-weight: 400 !important; 
}
.novo_usuario textarea::-webkit-input-placeholder {
    font-weight: 400 !important; 
}
.novo_usuario input::-webkit-input-placeholder {
    font-weight: 400 !important; 
}
.novo_usuario ::-webkit-file-upload-button {
    margin: 0px !important;
    border: none;
    border-right: 1px solid #444;
    box-shadow: none;
    padding: 0px  !important;
    background: white;
    color: #444;
    width: 40%;
    height: 34px
}
.novo_usuario textarea{
    resize: none;
    border: 1px solid #444;
    border-radius: 0px;
}
.novo_usuario button{
    border: 1px solid #ef914c;
    border-right-width: 5px;
    border-radius: 0px;
    color: #ef914c;
    font-weight: 800;
    background-color: white;
    margin-left: 10px;
    margin-top: 20px;
    font-size: 15px;
    text-align: left;
    padding: 6px 40px 6px 15px;
    text-transform: uppercase;
    
    
}
.novo_usuario button:hover{
    color: white;
    background-color: #ef914c;
}
.novo_usuario input[class=form-control]:focus{
    border-color: rgba(239, 145, 76, 0.68);
    border-width: 1px;
}
.novo_usuario textarea:focus{
    border-color: rgba(239, 145, 76, 0.68);
    border-width: 1px;
}
.novo_usuario select{
    border: 1px solid black;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
}
.novo_usuario input{
    font-size: 14px;
    width: 100%;
    color: #999;
}
.form-control-feedback{
    z-index: 0px;
}

/* MEDIAQUERY GLOBAL -------------------------------------------------------- */
@media (max-width: 800px){
    .novo_usuario h1{
        font-size: 60px;
    }
}
@media (max-width: 450px){
    .novo_usuario h1{
        font-size: 45px;
    }
}

tags {
    border-color: black  !important;
}
tags tag > div::before{
    background: rgba(239, 145, 76, 0.78)  !important;
}
tags tag > div{
    color: white !important;
}
    
tags tag x::after{
    color: white !important;
}
tags tag x:hover{
    background: #d2702a;
}
tags tag x {
    right: calc(0.5em - 5px);
    top: 54%;
    font: 17px/14px Serif;
}