
/* GLOBAL ------------------------------------------------------------------- */
html, body {
    height: 100%;
    background-size: cover;
    color: #444;
    font-family: 'Open Sans', sans-serif !important;
}
a:hover {
    color: #111;
}
section {
    padding-top: 60px;
    padding-bottom: 50px;
    min-height: 100%;
    min-height: calc(100% - 0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
h2 {
    color: #000;
    text-transform: uppercase;
}
p {
    text-align: justify;
}
a{
    color: #888;
}

/* CABEÇALHO ---------------------------------------------------------------- */
.home_section h1{
    font-weight: 800;
    font-size: 80px;
    display: block;
    color: black;
}
.name_logo{
    width: 300px;
    margin-top: 80px;
    display: inline-block;
    margin-left: 20px;
}
.home_section{
    padding-top: 100px !important;
}
.home_section span{
    font-weight: 200;
    margin-left: 10px;
    font-size: 20px;
    color: black;
}
.floating{
    float: left;
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;

}
@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);}    
}
@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 15px);}
    to {-moz-transform: translate(0, -0px);}    
}

/* CIDADES DISPONÍVEIS ------------------------------------------------------ */
.parallax {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.filter-opacity {
    /*-webkit-filter: opacity(.4);*/
    filter: grayscale(30%) invert(.2);
    /*filter: grayscale(50%) opacity(60%);*/
}
.regiao_section .parallax{
/*  The image used */
    background-image: url("/view/img/BS.jpg");
    min-height: 300px;
}
.regiao_section{
        border-bottom: 1px solid black;
        border-top: 1px solid black;
    margin-bottom: 50px;
    background-color: black;
    /*background-color: #ef914c;*/
}
.regiao_section .titulo{
    text-transform: uppercase;
    margin-top: 60px;
    position: absolute;
    z-index: 1;
    display: block;
    /*text-align: center;*/
    width: 100%;
    color: white;
}
.sub_titulo h3{
    margin-top: 10px;
    font-weight: 200;
    margin-left: 5px;
    font-size: 20px;
}
.regiao_section .sub_titulo{
    color: white;
    text-transform: uppercase;
}
.regiao_section .titulo h2{
    color: white;
    font-weight: 800;
    font-size: 120px;
    margin-top: 0px;
    display: inline-block;
    padding-right: 50px;
    background-color: rgba(239, 145, 76, 0.81);
}
.regiao_section .titulo h3{
    font-weight: 100;
    font-size: 20px;
    margin-bottom: 0px;
        display: inline-block;
    padding: 2px 20px 2px 5px;
    background-color: rgba(0, 0, 0, 0.76);
}
.titulo_de_fora{
    font-weight: 800;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    /*margin-left: 13px;*/
}
.hr_de_fora{
    margin-left: 0px;
    width: 15%;
    margin-top: 10px;
    border-bottom: 1px solid #444;
}

/* COMO FUNCIONA ------------------------------------------------------------ */
#como-funciona{    
    padding-top: 60px;  
}
.funciona_section {
    margin-top: 13%;
}
.funciona_section p{
    text-align: justify;
    font-size: 15px;
    font-weight: 200;
    display: block;
    color: black;
}
.funciona_passos h3{
    font-size: 17px;
    font-weight: 800;
    text-align: center;
    color: black;
}
.funciona_passos p{
    font-size: 13px;
    font-weight: 200;
    text-align: center; 
    color: black;
}
.funciona_passos{
    margin-top: 65px;
}
.funciona_passos img{
    width: 18%;
    margin: 0px auto;
    margin-bottom: 10px;
}

/* COMEÇE AGORA ------------------------------------------------------------- */
#cadastro{    
    padding-top: 60px;  
}
.cadastro_section{
    margin-top: 15%;
}
.cadastro_section .titulo_de_fora{
    display: inline-block;
}
.cadastro_section p{
    font-size: 15px;
    font-weight: 200;
    display: block;
    margin-bottom: 60px;
}
.cadastro_section span{
    margin: 0px 9px 0px 9px;
    font-size: 11px;
    text-transform: uppercase;  
}
.cadastro_section .button{
    border: 2px solid #ef914c;
    border-right-width: 20px;
    display: inline-block;
    width: 100%;
    padding-left: 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 60px;
    font-weight: 800;
    color: #ef914c;
    text-transform: uppercase;
    
}
.cadastro_section .button:hover{
    background-color: #ef914c;
    color: white;
}
.cadastro_section a{
    text-decoration: none;
    font-size: 60px;
    font-weight: 800;
    text-transform: uppercase;   
}

/*INFORMAÇÕES --------------------------------------------------------------- */
.informacoes_section{
    margin-top: 13%;
}
.nom{
    text-align: center;
    font-size: 20px;
    font-weight: 200;
    display: block;
    width: 80%;
    margin: 0 auto;
}
.num{
    
    font-weight: 800;
    text-align: center;
    font-size: 90px;
    display: block;
}
.num img{
    margin: 0 auto;
    margin-bottom: 15px;
    width: 20%;
}

/* SOBRE -------------------------------------------------------------------- */
#sobre{    
    padding-top: 60px;  
}
.sobre_section{
    margin-top: 15%;
}
.sobre_section p{
    font-size: 15px;
    font-weight: 200;
    display: block;
    margin-bottom: 30px;
}
.sobre_dados .parallax{
    background-image: url("https://d262ilb51hltx0.cloudfront.net/max/2000/1*vXjx4Y7EgQBwALkaeZJ0Cg.jpeg");
    min-height: 250px;
    border: 1px solid black;
    border-right: none;
}
.sobre_dados{
    padding-left: 0px !important;
    padding-right: 0px !important;    
}
.sobre_dados .texto{
    margin-top: 20px;
    position: absolute;
    z-index: 1;
    display: block;
    text-align: center;
    width: 100%;
    color: white;
}

/* CONTATO ------------------------------------------------------------------ */
.contato_section {
    margin-top: 10%;
}
.contato_section label{
    font-size: 12px;
    font-weight: 400;
    text-align: right;
    padding-right: 0px;
    text-transform: uppercase;
}
.contato_section input{
    border: 1px solid #444;
    border-radius: 0px;
}
.contato_section textarea{
    resize: none;
    border: 1px solid #444;
    border-radius: 0px;
}
.contato_section button{
    background-color: white;
    border: 1px solid #ef914c;
    border-right-width: 10px;
    display: inline-block;
    padding-left: 10px;
    cursor: pointer;
    width: 120px;
    border-radius: 0px;
    margin-left: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #ef914c;
    text-transform: uppercase;
    
}
.contato_section button:hover{
    color: white;
    background-color: #ef914c;
}
.contato_section input:focus{
    border-color: rgba(239, 145, 76, 0.68);
    border-width: 1px;
}
.contato_section textarea:focus{
    border-color: rgba(239, 145, 76, 0.68);
    border-width: 1px;
}
.contato_section img{
    width: 40%;
    margin: 0 auto;
}
.contato_links h3{
    text-align: center;
    color:black;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
}
.contato_links{
    margin-top: 5%;
}

/* MEDIAQUERY GLOBAL -------------------------------------------------------- */
@media (max-width: 1200px){
    /* COMECAR AGORA ----------- */
    .cadastro_section .button{
        font-size: 50px;
    }    
}
@media (max-width: 950px) {
    /* CABEÇALHO --------------- */
    .name_logo h1{
        font-size: 70px;
    }
}
@media (max-width: 800px) {
    /* GLOBAL ------------------- */
    .container{
        text-align: center;
    }
    
    /* CABEÇALHO ---------------- */
    .home_section img{
        width: 37%;
        float: none;
        display: block;
        margin-right: auto;
        margin-left: auto !important;
    }
    #home {
        padding-top: 0px;
    }
    .name_logo {
        width: 100%;
        margin-top: 0px;
        display: block;
        margin-right: auto;
        margin-left: auto !important;
        float: none;
        text-align: center;
    }
    .header_content{
        margin-left: 20%;
    }
    
    /* COMO FUNCIONA ------------ */
    .funciona_passos img {
        width: 30%;
    }
    .funciona_passos h3{
        font-size: 13px;
        height: 46px;
        margin-bottom: 0px;
    }
    .funciona_passos p{
        text-align: justify;
    }
    
    /* COMECAR AGORA ----------- */
    .cadastro_section .button{
        font-size: 35px;
    }
    
    /* INFORMAÇÕES -------------- */
    .sobre_dados .parallax{
        min-height: 200px;
    }
    .nom{
        font-size: 15px;
    }
    .num{
        font-size: 70px !important;
    }
    
    /* CONTATO ------------------ */
    .contato_links{
        margin-top: 60px !important;
    }
    
    /* FOOTER ------------------- */
    #footer .container{
        text-align: left !important;
    }
}
@media (max-width: 767px) {
    
    /* INFORMAÇÕES -------------- */
    .sobre_dados .parallax{
        min-height: 350px;
    }
    .num{
        margin-top: 30px;
    }
}
@media (max-width: 680px) {
    /* COMECAR AGORA ----------- */
    .cadastro_section .button{
        font-size: 20px;
    }
}
@media (max-width: 600px) {
    /* CABEÇALHO -------------- */    
    .home_section h1 {
        font-size: 60px;
        margin-bottom: 0px;
    }
    
    /* DISPONIVEL EM ---------- */
    .regiao_section .titulo h2{
        font-size: 85px !important;
    }
    
    /* COMECAR AGORA ---------- */
    .cadastro_section .button{
        font-size: 16px;
    }
    .contato_links h3{
        font-size: 10px;    
    }
}
@media (max-width: 550px) {
    /* COMO FUNCIONA ------------ */
    .funciona_passos .col-xs-4{
        width: 100% !important;
    }
    .funciona_passos img {
        display: none;
    }
    .funciona_passos h3 {
        font-size: 21px;
        height: auto;
        margin-top: 0px;
    }
    .funciona_passos p {
        padding-top: 5px;
        margin-bottom: 55px;
        margin-top: 25px;
        border-top: 1px solid black;
    }
    
}
@media (max-width: 450px) {
    /* CABEÇALHO --------------- */
    .home_section h1 {
        font-size: 50px;
    }
    .header_content{
        margin-top: 70px;
         margin-left: 15%;
        
    }

    /* DISPONIVEL EM ----------- */
    .regiao_section .titulo h2{
        font-size: 55px !important;
        padding-right: 25px !important;
    }
    .regiao_section .titulo h3{
        font-size: 12px !important;
    }
    .regiao_section .parallax{
        min-height: 250px !important;
    }
    
    /* COMECAR AGORA ----------- */
    .cadastro_section .button {
        font-size: 33px;
        margin-bottom: 20px;
    }
    .cadastro_section .col-xs-6{
        width: 100%;
    }
    
    /* INFORMAÇÕES ------------- */
    .sobre_dados .parallax{
        min-height: 700px;
    }
    .sobre_dados .col-xs-6{
        width: 100%;
    }
}