/* MEUS ANUNCIOS E MINHAS SOLICITAÇÕES ------------------ */
.titulo_janela_prestador{
    margin-top: 40px;
    color: #101010;
    padding-left: 15px;
    font-size: 50px;
}
.titulo_janela_prestador span{
    background-color: #ef914c;
    padding: 5px 20px 7px 5px;
    color: white;
    font-size: 70px;
    display: inline-block;
}

/* MEDIAQUERY GLOBAL -------------------------------------------------------- */
@media (min-width: 600px){
    .titulo_janela_prestador{
        margin-top: 0px;
    }
}
@media (max-width: 550px){
    /* GLOBAL ------------------------------ */
    .titulo_janela_prestador h1{
        font-size: 35px;
        margin-top: 50px;
        margin-bottom: 20px;
    }
    .titulo_janela_prestador span{
        padding-left: 10px;
        padding-right: 10px;
        font-size: 45px;
    }
}