/* GLOBAL ------------------------------------------------------------------- */
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
/* MEUS ANUNCIOS E MINHAS SOLICITAÇÕES ------------------ */
.titulo_janela_anunciante{
    margin-top: 40px;
    color: #101010;
    padding-left: 15px;
    font-size: 50px;
}
.titulo_janela_anunciante span{
    background-color: #ef914c;
    padding: 5px 20px 7px 5px;
    color: white;
    font-size: 70px;
    display: inline-block;
}

/* JANELA DE NOVO ANUNCIO --------------------------------------------------- */
#wrapper_novo_anuncio .novo_prestador{
    margin-top: 5%;
}
#wrapper_novo_anuncio .novo_prestador button{
    text-transform: uppercase;
    margin-top: 35px;
    float: right;
    border-color: #101010;
    font-size: 12px;
    border-radius: 0px;
    margin-left: 8px;
    background-color: white;
    border-width: 1px;
    padding: 8px 15px 8px 15px;
}
#wrapper_novo_anuncio #buttons{
    margin-top: 20px !important;
    margin-right: 15px;
}
#wrapper_novo_anuncio button{
    margin-top: 20px !important;
}

.novo_anuncio label{
    font-size: 10px;
    font-weight: 400;
    text-align: right;
    padding-right: 0px;
    text-transform: uppercase;
}
.novo_anuncio input{
    font-size: 14px;
    width: 100%;
    color: #999;
    border-radius: 0px;
    border: 1px solid black;
    font-weight: 400 !important; 
}
.novo_anuncio textarea::-webkit-input-placeholder {
    font-weight: 400 !important; 
}
.novo_anuncio input::-webkit-input-placeholder {
    font-weight: 400 !important; 
}
.novo_anuncio ::-webkit-file-upload-button {
    margin: 0px !important;
    border: none;
    border-right: 1px solid #444;
    box-shadow: none;
    padding: 0px  !important;
    background: white;
    color: #444;
    width: 40%;
    height: 34px
}
.novo_anuncio textarea{
    resize: none;
    border: 1px solid black;
    border-radius: 0px;
}
.novo_anuncio input:focus{
    border-color: rgba(239, 145, 76, 0.68);
    border-width: 1px;
}
.novo_anuncio textarea:focus{
    border-color: rgba(239, 145, 76, 0.68);
    border-width: 1px;
}
.novo_anuncio select{
    border: 1px solid black;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
}
.form-control-feedback{
    z-index: 0px;
}

/* JANELA DE VISUALIZAÇÃO ANUNCIOS ------------------------------------------ */
#wrapper_meus_anuncios .table-responsive{
    margin-top: 20px;
}
#wrapper_meus_anuncios .botao_visualizar{
    width: 50px;
    height: 20px;
    background-color: red;
}
#servicos [class*='col-']{
    padding-left: 0px;
}
#servicos{
    /*margin-top: 20px;*/
    display: inline-block;
}
#wrapper_meus_anuncios button{
    position: relative;
    margin-top: 15%;
    right: 30px;
    margin-bottom: 20px;
}
.buttom_encerrar{
    font-size: 11px;
    right: 136px;
    border-color: #fd6e6e;
    color: #fd6e6e
}
.buttom_visualizar{
    font-size: 11px;
    border-color: #00b946;
    color: #00b946;
    right: 37px;
    
}
.wrapper_buttom{
    display: none;
}
#wrapper_buttom_ativo{
    display: block;
}
.selecionado{
    display: none;
    width: 92px;
    height: 19px;
    background-color: #0c0601;
    position: absolute;
    top: 0px;
    font-weight: 600;
    text-align: center;
    font-size: 11px;
    right: -77px;
    color: white;
    border: 1px solid black;
    transform: rotate(90deg);
    transform-origin: left top 0;
}
#ativo .selecionado{
    display: block !important;
}
.buttom_modal{
    cursor: pointer;
    border: 1px solid black;
    padding: 17px 63px;
    font-weight: 800;
    font-size: 13px;    
}
.buttom_modal_encerrar{
    margin-right: 17px;
}
/* JANELA DE ENCERRAMENTO DE ANUNCIO ---------------------------------------- */
#wrapper_encerrar_anuncio .titulo{

}
#wrapper_encerrar_anuncio h3{
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
}
#avaliacao_descricao{
    padding-left: 0px;
}
#avaliacao_descricao textarea{
    width: 100%;
}
#wrapper_encerrar_anuncio #prestadores_envolvidos{
    padding-left: 0px;
    margin-bottom: 18px;
}
.avaliacao_valor, .avaliacao_servico{
    padding-left: 0px;
    margin-bottom: 18px;
}
/* MODIFICAÇÕES NOS "ITEMS CANDITADOS" */
#wrapper_encerrar_anuncio .item_imagem{
    height: 48px !important;
}
#wrapper_encerrar_anuncio .item{
    border-right-width: 1px !important;
    height: 50px !important;
}
#wrapper_encerrar_anuncio .item span{
    text-align: center;
    margin-top: 8px;
    text-decoration: none;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    width: 50%;
}
#wrapper_encerrar_anuncio .item strong{
    font-size: 22px;
}
#wrapper_encerrar_anuncio .selecionado{
    width: 50px;
    right: -35px;
}
#wrapper_encerrar_anuncio #buttons{
    margin-top: 0px;
}
.wrapper_item .item{
    cursor: pointer;
}

fieldset, label { 
    margin: 0; padding: 0; 
}
.rating { 
  border: none;
  float: left;
}
.rating > input { 
    display: none; 
}
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}
.rating > .half:before { 
  content: "\f089";
  position: absolute;
}
.rating > label { 
  color: #ddd; 
 float: right; 
}
.rating > input:checked ~ label, .rating:not(:checked) > label:hover,  .rating:not(:checked) > label:hover ~ label { 
    color: #FFD700;  
}
.rating > input:checked + label:hover, .rating > input:checked ~ label:hover, .rating > label:hover ~ input:checked ~ label, .rating > input:checked ~ label:hover ~ label { 
    color: #FFED85;  
    
} 


/* MEDIAQUERY GLOBAL -------------------------------------------------------- */
@media (min-width: 600px){
    .titulo_janela_anunciante{
        margin-top: 0px;
    }
}
@media (max-width: 1000px){
    .buttom_encerrar{
        width: 95px;
        bottom: 30px;
        right: 37px;
    }
    .buttom_visualizar{
        font-size: 11px;
        border-color: #00b946;
        color: #00b946;
        right: 37px;
        
    }
}
@media (max-width: 680px){
    .buttom_encerrar{
        width: auto;
        bottom: 10px;
        right: 136px;
    }
}
@media (max-width: 600px){
    #wrapper_novo_anuncio {
        margin-top: -10px;
    }
}
@media (max-width: 400px){
    .buttom_encerrar{
        width: 95px;
        bottom: 30px;
        right: 37px;
    }
    .modal-header h2{    
        font-size: 18px;
    }
}
@media (max-width: 550px){
    /* GLOBAL ------------------------------ */
    .titulo_janela_anunciante h1{
        font-size: 35px;
        margin-top: 50px;
        margin-bottom: 20px;
    }
    .titulo_janela_anunciante span{
        padding-left: 10px;
        padding-right: 10px;
        font-size: 45px;
    }
    /*ENCERRAR ANUNCIO --------------------- */
    .modal-header h2{
        font-size: 25px;
    }
    .buttom_modal{
        padding: 20px 40px;
        display: block;
    }
    .buttom_modal_encerrar {
        margin-right: 0px;
        margin-bottom: 10px;
    }
}
