/* GLOBAL ------------------------------------------------------------------- */

/* MEUS ANUNCIOS E MINHAS SOLICITAÇÕES ------------------ */
.titulo_janela_anunciante{
    margin-top: 40px;
    color: #101010;
    padding-left: 15px;
    font-size: 50px;
}
.titulo_janela_anunciante span{
    background-color: #ef914c;
    padding: 5px 20px 7px 5px;
    color: white;
    font-size: 70px;
    display: inline-block;
}



/* JANELA DE NOVO ANUNCIO --------------------------------------------------- */
#wrapper_novo_anuncio .novo_prestador{
    margin-top: 5%;
}
#wrapper_novo_anuncio .novo_prestador button{
    text-transform: uppercase;
    margin-top: 35px;
    float: right;
    border-color: #101010;
    font-size: 12px;
    border-radius: 0px;
    margin-left: 8px;
    background-color: white;
    border-width: 1px;
    padding: 8px 15px 8px 15px;
}
#wrapper_novo_anuncio #buttons{
    margin-top: 20px !important;
    margin-right: 15px;
}
#wrapper_novo_anuncio button{
    margin-top: 20px !important;
}

.novo_anuncio label{
    font-size: 10px;
    font-weight: 400;
    text-align: right;
    padding-right: 0px;
    text-transform: uppercase;
}
.novo_anuncio input{
    font-size: 14px;
    width: 100%;
    color: #999;
    border-radius: 0px;
    border: 1px solid black;
    font-weight: 400 !important; 
}
.novo_anuncio textarea::-webkit-input-placeholder {
    font-weight: 400 !important; 
}
.novo_anuncio input::-webkit-input-placeholder {
    font-weight: 400 !important; 
}
.novo_anuncio ::-webkit-file-upload-button {
    margin: 0px !important;
    border: none;
    border-right: 1px solid #444;
    box-shadow: none;
    padding: 0px  !important;
    background: white;
    color: #444;
    width: 40%;
    height: 34px
}
.novo_anuncio textarea{
    resize: none;
    border: 1px solid black;
    border-radius: 0px;
}
.novo_anuncio input:focus{
    border-color: rgba(239, 145, 76, 0.68);
    border-width: 1px;
}
.novo_anuncio textarea:focus{
    border-color: rgba(239, 145, 76, 0.68);
    border-width: 1px;
}
.novo_anuncio select{
    border: 1px solid black;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
}
.form-control-feedback{
    z-index: 0px;
}

/* JANELA DE VISUALIZAÇÃO ANUNCIOS ------------------------------------------ */
#wrapper_meus_anuncios .table-responsive{
    margin-top: 20px;
}
#wrapper_meus_anuncios .botao_visualizar{
    width: 50px;
    height: 20px;
    background-color: red;
}
#servicos [class*='col-']{
    padding-left: 0px;
}
#servicos{
    /*margin-top: 20px;*/
    display: inline-block;
}
#wrapper_meus_anuncios button{
    position: relative;
    margin-top: 15%;
    right: 30px;
    margin-bottom: 20px;
}

.selecionado{
    display: none;
    width: 92px;
    height: 19px;
    background-color: #0c0601;
    position: absolute;
    top: 0px;
    font-weight: 600;
    text-align: center;
    font-size: 11px;
    right: -77px;
    color: white;
    border: 1px solid black;
    transform: rotate(90deg);
    transform-origin: left top 0;
}
#ativo .selecionado{
    display: block !important;
}


/* MEDIAQUERY GLOBAL -------------------------------------------------------- */
@media (min-width: 600px){
    .titulo_janela_anunciante{
        margin-top: 0px;
    }
}
@media (max-width: 600px){
    #wrapper_novo_anuncio {
        margin-top: -10px;
    }
}
@media (max-width: 550px){
    /* GLOBAL ------------------------------ */
    .titulo_janela_anunciante h1{
        font-size: 35px;
        margin-top: 50px;
        margin-bottom: 20px;
    }
    .titulo_janela_anunciante span{
        padding-left: 10px;
        padding-right: 10px;
        font-size: 45px;
    }
}