/* MEUS ANUNCIOS E MINHAS SOLICITAÇÕES ------------------ */
.titulo_janela_prestador{
    margin-top: 40px;
    color: #101010;
    padding-left: 15px;
    font-size: 50px;
}
.titulo_janela_prestador span{
    background-color: #ef914c;
    padding: 5px 20px 7px 5px;
    color: white;
    font-size: 70px;
    display: inline-block;
}

/* MEDIAQUERY GLOBAL -------------------------------------------------------- */
@media (min-width: 600px){
    .titulo_janela_prestador{
        margin-top: 0px;
    }
}
@media (max-width: 550px){
    /* GLOBAL ------------------------------ */
    .titulo_janela_prestador h1{
        font-size: 35px;
        margin-top: 50px;
        margin-bottom: 20px;
    }
    .titulo_janela_prestador span{
        padding-left: 10px;
        padding-right: 10px;
        font-size: 45px;
    }
}


/* MARCADOR EXPANDIDO -------------------------------------------------------- */
#anuncios{
    margin: 7px;    
    margin-top: 65px;
    margin-right: 8px;
}
.anuncio{
border-top: 1px solid;
    height: 32px;
    margin-bottom: 3px;
    padding-top: 2px;
    /* border-radius: 2px; */
}
.foto-anuncio{
    /*border-top-left-radius: 2px;*/
    border-radius: 2px;
    margin-top: 1;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
        background-size: cover;
}
.titulo-anuncio{
    display: inline-block;
    font-size: 11px;
    position: absolute;
    left: 49px;
    text-transform: uppercase;
    margin-top: 6px;
    font-variant: uppercase;
    display: block;
}
.botoes-anuncio{
    position: absolute;
    left: 230px;
    margin-top: 4px;
}
.marcador_wrapper{
     height: auto !important; 
}

.marcador_imagem{
    border: 1px solid black;
    position: absolute;
    height: 50px;
    margin-left: 5px;
    width: 50px;
    background-size: cover;
    border-radius: 7px;
    margin-top: 5px;
}
.marcador_informacao {
    position: absolute;
    left: 66px;
    top: 14px;
    font-size: 16px;
}
.marcador_botao{
    bottom: auto;
    margin-top: 5px;
}
.marcador_botao span {
     border: none; 
    display: inline-block;
    width: 58px;
    height: 19px;
    font-size: 9px;
    font-weight: 600;
    text-align: center;
    padding-top: 2px;
    cursor: pointer;
    border-radius: 2px;
}