/* GLOBAL ---------------------------------------------------------------------- */
html, body{
	height: 100%;
	margin: 0px;
    font-family: 'Open Sans', sans-serif !important;
    
}



/* MAPA ------------------------------------------------------------------------ */
#mapa{
    float:left;
    width: 100%;
    height: 100%;
    min-height: 100%;
}

/* JANELAS DE INFORMAÇÃO ------------------------------------------------------- */
.marcador_botao span {
    border: 1px solid white;
    display: inline-block;
    width: 80px;
    height: 19px;
    font-size: 10px;
    font-weight: 600;
    text-align: center;
    padding-top: 2px;
    cursor: pointer;
    border-radius: 2px;
}
.marcador_informacao{
    position: absolute;
    left: 115px;
    top: 19px;
}
.marcador_descricao{
    font-size: 11px;
    text-decoration: none;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    width: 170px;
}
.marcador_wrapper {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 100px !important;
    width: 350px;
    background: #101010;
    z-index: 2;
    border-radius: 5px;
    color: white;
    /* Efeito*/
    transition: width 2s;
    transition: opacity 1s ease-out;
    opacity: 0; 
    overflow: hidden;
}
.marcador_titulo {
    font-weight: 800;
    text-transform: uppercase;
}
.marcador_imagem{
    border: 1px solid black;
    position: absolute;
    height: 100px;
    width: 100px;
    background-image: url(https://trampaki-api-tunnes.c9users.io/carregar-imagem/2);
    background-size: cover;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.marcador_botao{
    position: absolute;
    right: 12px;
    font-size: 12px;
    bottom: 9px;
}

/* MENU LATERAL ---------------------------------------------------------------- */
#barraLateral{
    z-index: 2;
    position: fixed;
    left: 0px;
    top: 0px;
    margin: 0px;
    float: left;
    background-color: #101010;
    width: 180px;
    min-height: 100%;
    /* ---- */
    
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    
    
}
#menu-painel{
   border-bottom: 2px solid white;
}
#barraLateral .nav{
    margin-top: 30px;
    margin-left: 10px;
}
#barraLateral .nav span{
    color: white;
    font-weight: 800;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 1px;
    margin-left: 10px;
    
}
#chat{
    margin-top: 5px;
    font-size: 17px;
    font-weight: 100;
    display: block;
    color: white;
}
#chat{
    display: none;
}
#barraLateral span{
    cursor: pointer;
}

.controle-lateral{
    /*background-color: #101010;*/
    border:none;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    position:absolute;
    
    display: none;
    left: 180px;
    top: 0px;
    /*width: 50px;*/
    /*height: 50px;*/
    z-index: 2;

    /*Estilo buttom tradicional*/
    /*padding: 10px;*/
    /*padding-right: 13px;   */

    /*tringular*/
    width: 0;
	height: 0;
	border-top: 90px solid #101010;
	border-right: 90px solid transparent;
}
.controle-lateral p {
    text-align: center;
    top: -55px;
    left: 15px;
    font-size: 14px;
    position: relative;
    margin: 0px;
    color: white;
    font-weight: 600;
    transform: rotate(-45deg);
}
.controle-lateral .icon-bar {
    display: block;
    background-color: white;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}
.controle-lateral .icon-bar + .icon-bar {
    margin-top: 4px;
}

#hideshow{
    cursor: pointer;
}
#hideshow p{
    cursor: pointer;
}

@media (min-width: 850px){
    #barraLateral{
        left: 0px !important;
    }
    #janela{
        margin-left: 180px;
    }
}
@media (max-width: 850px){
    .controle-lateral{
        display: block;
        left: 0px;
    }
    #barraLateral{
        /*display: none;*/
        left: -180px;
        z-index: 3;
        width: 180px;
    }
    #mapa {
        /*display: none;*/
        width: 100%;
        margin-left: 0px;
    }
}

/* CORPO ----------------------------------------------------------------------- */
#barraLateral .main{
    margin-top: 40px;
    margin-left: 20px;
}

/* CHAT ------------------------------------------------------------------------ */
#barraLateral .main input{
    margin-top:10px;
    width: 90%;
    height: 25px;
    border-radius: 2px;
    background-color: #101010;
    border: 1px solid white;
    font-size: 20px;
    color:white;
}
::-webkit-input-placeholder {
    font-size: 15px;
    font-weight: 800;
}

#painel span{
    margin-top: 5px;
    font-size: 17px;
    font-weight: 100;
    display: block;
    color: white;
}


/* JANELA-ANUNCIO -------------------------------------------------------------- */
#tituloAnuncioDOM{
    padding-left: 15px;   
}

#wrapper-anuncio button{
    float: right;
    border-color: #101010;
    font-size: 12px;
    border-radius: 0px;
    margin-left: 8px;
    background-color: white;
    border-width: 1px;
    padding: 8px 15px 8px 15px;
}
#wrapper-anuncio p{
    font-size: 11px;
}
#imagem{
    border-style: solid;
    border-width: 1px 8px 1px 1px;
    display: inline-block;
    width: 60px;
    height: 60px;
    background-image:url('https://trampaki-web-tunnes.c9users.io/view/img/anunc.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    /*border-radius: 50%;*/
    float: left;
}
#informacoes{
    display: inline-block;
    margin-left: 20px;
    margin-top: 7px;
}
#informacoes strong, p{
    margin: 0px;
}
.categoria{
    font-size: 11px;
    display: inline-block;
    border: 1px solid #101010;
    padding: 1px 15px 1px 15px;
    background-color: #F4511E;
    margin-left: 5px;
    color: white;
    text-transform: uppercase;
}

#wrapper-imagens-anuncio{
    width: 100%;
    /*height: 180px;*/
}
#wrapper-imagens-anuncio div{
    width: 31%;
    border-style: solid;
    border-width: 1px 14px 1px 1px;
    height: 180px;
    display: inline-block;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: 2px;
}
#imagem01{
    background-image:url('https://trampaki-web-tunnes.c9users.io/view/img/no_image.jpeg');
}
#imagem02{
    background-image:url('https://trampaki-web-tunnes.c9users.io/view/img/no_image.jpeg');
}
#imagem03{
    background-image:url('https://trampaki-web-tunnes.c9users.io/view/img/no_image.jpeg');
}

@media (max-width: 400px){
    #wrapper-imagens-anuncio div {
        width: 100%;
        height: 200px !important;
    }
}
@media (max-width: 450px){
    .marcador_wrapper{
        width: 180px;
        height: 200px !important
    }
    .marcador_imagem{
        width: 180px;
    }
    .marcador_informacao{
        left: 10px;
        top: 110px;
    }
    .marcador_descricao{
        width: 150px;
    }
    .marcador_botao{
        right: 5px;
        left: 8px;
    }
    .marcador_imagem{
        border-bottom-left-radius: 0px;
        border-top-right-radius: 5px;
    }
}
@media (max-width: 600px){
    #wrapper-anuncio{
         padding: 15px;
    }
    
    #wrapper-imagens-anuncio div{
        height: 115px;
    }
    
}