html,
body {
    height: 100%;
    background: center no-repeat fixed url('img/fundo.jpg');
    background-size: cover;
    color: #444;
    font-family: 'Open Sans', sans-serif !important;
}

@media (min-width:768px) {
    h1 {
        font-size: 68px;
    }
}

a {
    color: #888;
}

a:hover {
    color: #111;
}

.btn,
.well,
.panel {
    border-radius: 0;
}

.text-danger,
a.text-danger {
    color: #000;
}

.btn-danger {
    background-color: #FF8C00;
}

.btn-huge {
    padding: 17px 22px;
    font-size: 22px;
}

.icon-bar {
    background-color: #000;
}

.navbar-trans {
    background-color: #fff;
    color: #cdcdcd;
    border-width: 0;
}

.navbar-trans .navbar-brand,
.navbar-trans >.container-fluid .navbar-brand {
    padding: 14px;
    color: #000;
}

.navbar-trans li>a:focus,
.navbar-trans li.active {
    background-color: #FF8C00;
    color: #000;
    opacity: 0.8;
}

.navbar-trans li>a:hover {
    background-color: #FF8C00;
    color: #000;
    opacity: 0.5;
}

.navbar-trans a {
    color: #000;
    letter-spacing: 1px;
}

.navbar-trans .form-control:focus {
    border-color: #eee;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(100, 100, 100, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(100, 100, 100, 0.6);
}

.scroll-down {
    position: absolute;
    left: 50%;
    bottom: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-left: -15px;
    display: block;
    padding: 7px;
    text-align: center;
    z-index: -1
}

.scroll-up {
    position: fixed;
    display: none;
    z-index: 999;
    bottom: 2em;
    right: 2em;
}

.scroll-up a {
    background-color: rgba(135, 135, 135, 0.5);
    display: block;
    width: 35px;
    height: 35px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    line-height: 30px;
}

section {
    padding-top: 60px;
    padding-bottom: 50px;
    min-height: 100%;
    min-height: calc(100% - 0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.mini-section {
    background-color: #f44d3c;
    color: #000;
    min-height: 280px;
    padding-top: 10px;
    padding-bottom: 40px;
    align-content: center;
}


.mini-section .alaranjar {
    color: #ff8c00;
    text-transform: uppercase;
}

@media (min-width:768px) {
    .v-center {
        height: 50%;
        overflow: visible;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}

#home {
    background-color: #fff;
}

#about {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
}

#about {
    background-color: rgba(0, 0, 0, 0.8);
}

#freelance {
    background-color: #fff;
}

#work {
    background-color: #fff;
}

#contato {
    color: #FF8C00;
    background-color: rgba(0, 0, 0, 0.8);
}

#contato h2 {
    color: #FF8C00;
}

h2 {
    color: #000;
    text-transform: uppercase;
}

p {
    text-align: justify;
}

footer {
    border-top: 15px solid #ef914c;
    text-transform: uppercase;
    background-color: black;
    color: white;
    min-height: 50px;
    padding-top: 10px;
}
footer h4{
    text-transform: uppercase;
    font-weight: 800;
}

footer a:hover {
    color: black;
}

footer .nav>li>a {
    padding: 3px;
    color: white
}

footer .nav>li>a:hover {
    background-color: transparent;
    color: #fff;
}

.alinhar-esq{
    float: left;
}

#login:hover{
    color:darkorange;
}

/* REFATORAÇÃO !*/

/* DISPONIVEL EM ----------------------------------------------------------------------------------------- */
.parallax {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.filter-opacity {
    /*-webkit-filter: opacity(.4);*/
    filter: grayscale(30%) invert(.2);
    /*filter: grayscale(50%) opacity(60%);*/
}
.regiao_section .parallax{
/*  The image used */
    background-image: url("/view/img/BS.jpg");
    min-height: 300px;
}
.regiao_section{
        border-bottom: 1px solid black;
        border-top: 1px solid black;
    margin-bottom: 50px;
    background-color: black;
    /*background-color: #ef914c;*/
}
.regiao_section .titulo{
    text-transform: uppercase;
    margin-top: 60px;
    position: absolute;
    z-index: 1;
    display: block;
    /*text-align: center;*/
    width: 100%;
    color: white;
}
.sub_titulo h3{
    margin-top: 10px;
    font-weight: 200;
    margin-left: 5px;
    font-size: 20px;
}
.regiao_section .sub_titulo{
    color: white;
    text-transform: uppercase;
}
.regiao_section .titulo h2{
    color: white;
    font-weight: 800;
    font-size: 120px;
    margin-top: 0px;
    display: inline-block;
    padding-right: 50px;
    background-color: rgba(239, 145, 76, 0.81);
}
.regiao_section .titulo h3{
    font-weight: 100;
    font-size: 20px;
    margin-bottom: 0px;
        display: inline-block;
    padding: 2px 20px 2px 5px;
    background-color: rgba(0, 0, 0, 0.76);
}
.titulo_de_fora{
    font-weight: 800;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    /*margin-left: 13px;*/
}
.hr_de_fora{
    margin-left: 0px;
    width: 15%;
    margin-top: 10px;
    border-bottom: 1px solid #444;
}

/* COMO FUNCIONA */
.funciona_section {
    margin-top: 13%;
}
.funciona_section p{
    text-align: justify;
    font-size: 15px;
    font-weight: 200;
    display: block;
    color: black;
}

.funciona_passos h3{
    font-size: 17px;
    font-weight: 800;
    text-align: center;
    color: black;
}
.funciona_passos p{
    font-size: 13px;
    font-weight: 200;
     text-align: center; 
    color: black;
    /*padding: 10px 20px 0px 20px;*/
}
.funciona_passos{
    margin-top: 65px;
}

.funciona_passos img{
    width: 18%;
    margin: 0px auto;
    margin-bottom: 10px;
}
/*INFORMAÇÕES SECTION */

.informacoes_section{
    margin-top: 13%;
}


/* CADASTRO */

.cadastro_section{
    margin-top: 15%;
}
.cadastro_section .titulo_de_fora{
    /*text-align: center;*/
    /*margin-left: 0px !important;*/
    display: inline-block;
}
.cadastro_section p{
    font-size: 15px;
    font-weight: 200;
    display: block;
    margin-bottom: 60px;
}
.cadastro_section span{
    margin: 0px 9px 0px 9px;
    font-size: 11px;
    text-transform: uppercase;  
}
.cadastro_section .options{
    margin-top: 50px;
    text-align: center;
}
.cadastro_section .button{
    border: 2px solid #ef914c;
    border-right-width: 20px;
    display: inline-block;
    width: 100%;
    padding-left: 10px;
    cursor: pointer;
        text-decoration: none;
    font-size: 60px;
    /*width: 47%;*/
    font-weight: 800;
    color: #ef914c;
    text-transform: uppercase;
    
}
.cadastro_section .button:hover{
    background-color: #ef914c;
    color: white;
        /*border-right-width: 40px;*/
    
}

.cadastro_section a{
    text-decoration: none;
    font-size: 60px;
    /*width: 47%;*/
    font-weight: 800;
    text-transform: uppercase;   
    /*border: 1px solid #444;*/
    /*padding: 11px 45px 11px 45px;*/
}

.nom{
    text-align: center;
    font-size: 20px;
    font-weight: 200;
    display: block;
    width: 80%;
    margin: 0 auto;
}
.num{
    
    font-weight: 800;
    text-align: center;
    font-size: 90px;
    display: block;
}
.num img{
    margin: 0 auto;
    margin-bottom: 15px;
    width: 20%;
}
.sobre_section{
    margin-top: 15%;
}

.sobre_section p{
    font-size: 15px;
    font-weight: 200;
    display: block;
    margin-bottom: 30px;
}
.sobre_dados .parallax{
    background-image: url("https://d262ilb51hltx0.cloudfront.net/max/2000/1*vXjx4Y7EgQBwALkaeZJ0Cg.jpeg");
    min-height: 200px;
    border: 1px solid black;
}
.sobre_dados{
    padding-left: 0px !important;
    padding-right: 0px !important;    
}

.sobre_dados .texto{
    margin-top: 20px;
    position: absolute;
    z-index: 1;
    display: block;
    text-align: center;
    width: 100%;
    color: white;
}

.home_section h1{
    font-weight: 800;
    font-size: 80px;
    display: block;
    /*color: #ef914c;*/
    color: black;
}
.name_logo{
    margin-top: 80px;
    display: inline-block;
    margin-left: 20px;
}
.home_section{
    margin-top: 100px;
}
.home_section img{
    display: inline-block;
    width: 30%;
    /*margin-top: -80px;*/
}

.home_section span{
    font-weight: 200;
    margin-left: 10px;
    font-size: 20px;
    /*color: #ef914c;*/
    color: black;
}

/* float*/
.floating{
    float: left;
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;

}

@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);}    
}
    
@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 15px);}
    to {-moz-transform: translate(0, -0px);}    
}

.contato_section {
    margin-top: 10%;
}
.contato_section label{
    font-size: 12px;
    font-weight: 200;
    text-align: right;
    padding-right: 0px;
    text-transform: uppercase;
}
.contato_section input{
    border: 1px solid #444;
    border-radius: 0px;
}
.contato_section textarea{
    resize: none;
    border: 1px solid #444;
    border-radius: 0px;
}

.contato_section button{
    border: 1px solid black;
    border-right-width: 5px;
    border-radius: 0px;
    color: black;
    background-color: white;
    margin-left: 10px;
    text-align: left;
    padding: 3px 30px 3px 10px;
    
}
.contato_section button:hover{
    color: white;
    background-color: #ef914c;
}
.contato_section img{
    width: 40%;
    margin: 0 auto;
}
.contato_links h3{
   text-align: center;
   color:black;
    font-size: 12px;
    font-weight: 800;
       text-transform: uppercase;
}
.contato_links{
    margin-top: 5%;
}