<!-- Modal ======================================================================================== -->
<div id="modal_principal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <h2 id='modal_titulo'>Solicitacao Efetuada</h2>
        </div>
        <div class="modal-body">
            <p id='modal_descricao'></p>
        </div>
        <div class="modal-footer">
            <button id='modal_retornar'>RETORNAR</button>
        </div>
    </div>
</div>