<div id="wrapper-anuncio" class='wrapper_janela container-fluid'>
	<h1 id='tituloAnuncioDOM'>LOREM TORNEIRA</h1>
	<div id="wrapper-imagens-anuncio">
		<div id="imagem01"></div>
		<div id="imagem02"></div>
		<div id="imagem03"></div>
	</div>
	<h2>DESCRIÇÃO</h2>
	<p id="longHistorio"></p>
	<h2>CATEGORIAS</h2>
		<div id='categorias'></div>
	<h2>ANUNCIANTE</h2>
	<div id='perfil'>
		<div id='imagem'></div>
		<div id=informacoes>
			<strong>Ayrton Felipe</strong>  
			<p>São Vicente, SP</p>
		</div>
	</div>
	<div id='buttons'>
		<button id="mapa-retornar" onclick='retornar()' type="button">RETORNAR AO MAPA</button>
	    	<button id="conectar" type="button">ME CONECTAR</button>
	</div>
</div>