<div id="wrapper-meus-servicos" class="wrapper_janela container-fluid">
	<h1>Meus Serviços</h1>
	<!-- FILTRO ------------------------------------------------------------------------------------------ -->
	<div class='fiter_tags'>
		<span class='ativada'>ABERTO</span>
		<span>ENCERRADO</span>
		<span>SUSPENSO</span>
	</div>
	<hr>
	<!-- RESULTADOS -------------------------------------------------------------------------------------- -->
	<div id='servicos'></div>
	<!-- CONTROLES UX ------------------------------------------------------------------------------------ -->
	<div class='buttons_bugados'>
		<button onclick="retornar()" >RETORNAR AO MAPA</button>
	</div>																			 	
</div>