<div id="wrapper-perfil-prestador" class="wrapper_janela container-fluid">
	<!-- CATEGORIAS -------------------------------------------------------------- -->
	<div id="header">
		<div id='imagem_header'></div>
		<div id='titulo_header'>
			<h1 id='nm_prestador'>Ayrton Felipe</h1>  
			<p>
				<span id='header_cidade'>São Vicente</span>, 
				<span id='header_estado'>SP</span>
			</p>
			<div id='categorias'></div>
		</div>
	</div>
	<!-- ------------------------------------------------------------------------- -->
	<div id="profissional">
    	<h2>DESCRIÇÃO PROFISSIONAL</h2>
    	<p id="ds_profissional">
    		Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
    		sed diam nonummy nibh euismod tincidunt ut laoreet dolore
    		magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
    		quis nostrud exerci tation ullamcorper suscipit lobortis nisl
    		ut aliquip ex ea commodo consequat.
    	</p>
    </div>
    <div id="dados_pessoais">
		<h2>DADOS PESSOAIS</h2>
		<span>Nome</span><p id='nome'>Ayrton Felipe Souza Tunes</p>
		<span>Email</span><p id='ds_email'>ayrton.tunes@outlook.com</p>
		<span>Telefone</span><p id='cd_telefone'>996201030</p>
	</div>
	<div id="dados_endereco">
		<h2>ENDERECO</h2>
		<span>Estado</span><p id='sg_estado1'>Ayrton Felipe Souza Tunes</p>
		<span>Cidade</span><p id='cidade'>Ayrton Felipe Souza Tunes</p>
		<br>
		<span>Cep</span><p id='cep'>Ayrton Felipe Souza Tunes</p>
		<span>Numero </span><p id='numResiden'>Ayrton Felipe Souza Tunes</p>
	</div>
	<div id="dados_acesso">
		<h2>DADOS DE ACESSO</h2>
			<span>Login</span><p id='login'>Ayrton Felipe Souza Tunes</p>
			<span>Senha</span><p id='senha'>Ayrton Felipe Souza Tunes</p>
			<span>token</span><p id='token'>Ayrton Felipe Souza Tunes</p>
	</div>
	<div id='buttons'>
		<button id="mapa-retornar" onclick='retornar()' type="button">RETORNAR AO MAPA</button>
    	<button type="button" onclick="alert('Já sabe né?')">EDITAR PERFIL</button>
	</div>
</div>