<div id="wrapper-solicitacoes" class="wrapper_janela container-fluid">
    <h1>SOLICITAÇÕES</h1>
	<!-- FILTRO ------------------------------------------------------------------------------------------ -->
	<div class="fiter_tags">
		<span id='span_enviadas'  onclick='soliEnviadas(this)'  class='ativada'>ENVIADAS</span>
		<span id='span_recebidas' onclick='soliRecebidas(this)' >RECEBIDAS</span>
	</div>
	<hr>
	<!-- RESULTADOS -------------------------------------------------------------------------------------- -->
	<div id='solicitacoes_recebidas' class='row'></div>
	<div id='solicitacoes_enviadas'	></div>
	<!-- CONTROLES UX ------------------------------------------------------------------------------------ -->
	<div class='buttons_bugados'>
		<button onclick="retornar()" >RETORNAR AO MAPA</button>
	</div>
</div>