<div id="wrapper-perfil"  class="wrapper_janela container-fluid">

	<!-- CABEÇALHO -------------------------------------------------------------------------------------------------------------------------------------- -->
	<div id="header">
		<div id='imagem_header'></div>
		<div id='titulo_header' class="recuo_responsivo">
			<h1 id='nm_prestador'>Ayrton Felipe</h1>  
			<p>
				<span id='header_cidade'>São Vicente</span>, 
				<span id='header_estado'>SP</span>
			</p>
			<div id='categorias'></div>
		</div>
	</div>

	<!-- DADOS PROFISSIONAIS ---------------------------------------------------------------------------------------------------------------------------- -->
	<div id="profissional" class="recuo_responsivo section_informacao">
    	<h2>DESCRIÇÃO PROFISSIONAL</h2>
    	<p id="ds_profissional">
    		Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
    		sed diam nonummy nibh euismod tincidunt ut laoreet dolore
    		magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
    		quis nostrud exerci tation ullamcorper suscipit lobortis nisl
    		ut aliquip ex ea commodo consequat.
    	</p>
    </div>

	<!-- DADOS PESSOAIS --------------------------------------------------------------------------------------------------------------------------------- -->    
    <div id="dados_pessoais" class="recuo_responsivo section_informacao">
		<div class="col-md-12">
			<h2>DADOS PESSOAIS</h2>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" >
			<span>Nome</span><p id='nome'>Ayrton Felipe Souza Tunes</p>
		</div>
		
		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
			<span>Email</span><p id='ds_email'>ayrton.tunes@outlook.com</p>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
			<span>Telefone</span><p id='cd_telefone'>996201030</p>
		</div>
	</div>
	
	<!-- DADOS ENDEREÇO --------------------------------------------------------------------------------------------------------------------------------- -->
	<div id="dados_endereco" class="recuo_responsivo section_informacao">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h2>ENDEREÇO</h2>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
			<span>Estado</span><p id='sg_estado1'>Ayrton Felipe Souza Tunes</p>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
			<span>Cidade</span><p id='cidade'>Ayrton Felipe Souza Tunes</p>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
			<span>Cep</span><p id='cep'>Ayrton Felipe Souza Tunes</p>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
			<span>Numero </span><p id='numResiden'>Ayrton Felipe Souza Tunes</p>
		</div>
	</div>
	
	<!-- DADOS ACESSO ----------------------------------------------------------------------------------------------------------------------------------- -->
	<div id="dados_acesso" class="recuo_responsivo section_informacao">
		<h2>DADOS DE ACESSO</h2>
			<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
				<span>Login</span><p id='login'>Ayrton Felipe Souza Tunes</p>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
				<span>Senha</span><p id='senha'>Ayrton Felipe Souza Tunes</p>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
				<span>token</span><p id='token'>Ayrton Felipe Souza Tunes</p>
			</div>
	</div>
	
	<!-- RODAPÉ ----------------------------------------------------------------------------------------------------------------------------------------- -->
	<div id='buttons'>
    	<button id="botao_01" type="button" onclick="alert('Já sabe né?')">EDITAR PERFIL</button>
	</div>

</div>