<div id="wrapper-anuncio" class='wrapper_janela container-fluid'>
	<h1 id='tituloAnuncioDOM'>LOREM TORNEIRA</h1>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="wrapper-imagens-anuncio">
		<div id="imagem01"></div>
		<div id="imagem02"></div>
		<div id="imagem03"></div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h2>DESCRIÇÃO</h2>
		<p id="longHistorio"></p>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h2>CATEGORIAS</h2>
		<div id='categorias'></div>
	</div>
	<div id='buttons'>
		<button id="mapa-retornar" onclick='retornar()' type="button">RETORNAR AO MAPA</button>
        <button id="conectar" type="button">EDITAR</button>
	</div>
</div>