<div id="wrapper_anunciante_solicitacoes" class='wrapper_janela container-fluid'>
    <h1 class="titulo_janela_anunciante">MINHAS<br><span>SOLICITAÇÕES</span></h1>
    
	<!-- FILTRO ------------------------------------------------------------------------------------------ -->
	<div class="filter_tags">
		<span id='span_enviadas'  onclick='soliEnviadas(this)'  class='ativada'>ENVIADAS</span>
		<span id='span_recebidas' onclick='soliRecebidas(this)' >RECEBIDAS</span>
	</div>

	<!-- RESULTADOS -------------------------------------------------------------------------------------- -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><hr></div>
	<!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id='solicitacoes'></div>-->
	
    <!-- RESULTADOS -------------------------------------------------------------------------------------- -->
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id='solicitacoes_enviadas'></div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id='solicitacoes_recebidas'></div>	
</div>