<div id="wrapper-anuncio" class='wrapper_janela container-fluid'>
    <h1>MINHAS SOLICITAÇÕES</h1>
    <div class="table-responsive">
        <table class="tabela_solicitacoes table">
            <thead>
                <tr>
                    <th>ID ANUNCIO</th>
                    <th>TITULO</th>
                    <th>PRESTADOR INTERESSADO</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="suprise"></tbody>
        </table>
    </div>
 
</div>