<div id="wrapper_anunciante_solicitacoes" class='wrapper_janela container-fluid'>
    <h1 class="titulo_janela_anunciante">MINHAS<br><span>SOLICITAÇÕES</span></h1>
    <!--<div class="table-responsive">-->
    <!--    <table class="tabela_solicitacoes table">-->
    <!--        <thead>-->
    <!--            <tr>-->
    <!--                <th>ID</th>-->
    <!--                <th>TITULO</th>-->
    <!--                <th>PRESTADOR INTERESSADO</th>-->
    <!--                <th></th>-->
    <!--            </tr>-->
    <!--        </thead>-->
    <!--        <tbody id="suprise"></tbody>-->
    <!--    </table>-->
    <!--</div>-->

	<!-- RESULTADOS -------------------------------------------------------------------------------------- -->
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><hr></div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id='solicitacoes'></div>
     
</div>