<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Trampaki - Docs</title>
    <link rel="shortcut icon" type="image/png" href="/view/img/fav_logo.png"/>    
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="initial-scale=1.0, width=device-width, height=device-height, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <!-- Embed Seed -->
    <script src="https://api.apiary.io/seeds/embed.js"></script>
    <!-- /Embed Seed -->
    
    <!-- Inline Styles -->
    <style>
        html, body {
            margin: 0px;
            padding: 0px;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
    </style>
    <!-- /Inline Styles -->

</head>
<body>

  <!-- Embed -->
    <script>
        var embed = new Apiary.Embed({
            subdomain: 'trampaki',
    
            preferences: {
                collapseMachineColumnByDefault: true,
                fluidHumanColumn: true
            },
                theme: {
                    fontFamily: 'Roboto, sans-serif',
                    tableOfContents: {
                        color: '#ef914c',
                        fontSize: '12px',
                        section: {
                            item: { 
                                color: 'black',
                                paddingBottom: '0px',
                            }
                        }
                    },
                    humanColumn: {
                        content: {
                            padding: '40px',
                            apiName: {
                                color: '#ef914c',
                                fontSize: '70px',
                                fontWeight: '800',
                                textTransform: 'uppercase',
                                margin: '0px',
                                paddingBottom: '20px',
                            },
                            section: {
                                title: {
                                    fontWeight: '100',
                                    text: {
                                        width: 'auto',
                                        color: '#333',
                                        fontFamily: '13px',
                                        fontWeight: '900',                                        
                                        paddingBottom: '3px',
                                    }
                                }
                            }
                        }
                    },
                    machineColumn: {
                        content:{
                            // backgroundColor: '#131212',
                        },
                        header:{
                            // backgroundColor: '#ef914c',
                            button:{
                                // boxShadow: 'none',
                                // text: {
                                //     color: '#37302C'
                                // },
                                // value: {
                                //     color: 'white'
                                // },
                                switch: {
                                    backgroundColor: 'transparent',
                                    border: '2px solid red',
                                    borderRadius: '0px',
                                    margin: '0px',
                                    padding: '0px',
                                    height: '100%',
                
                                items: {
                                  item: {
                                    borderRadius: '0px',
                                    border: 'none',
                                    backgroundColor: 'transparent',
                                    height: '100%',
                                    lineHeight: '50px',
                                    paddingTop: '10px',
                                    paddingLeft: '10px',
                                    paddingRight: '10px',
                
                                    text: {
                                      color: '#F2C45A',
                                      height: '50px'
                                    },
                
                                    $selected: {
                                      text: {
                                        backgroundColor: '#F2C45A',
                                        color: '#8C2318'
                                      }
                                    }
                                  }
                                }
                              }
                            },
                        }
                    }
                //     resourceGroups: {
                //         resourceGroup: {
                //             margin: '0px',
                //             marginTop: '40px',
                //             padding: '0px',
                //             backgroundColor: '#4ECDC4',
                //             color: 'red',
                //             name: {
                //                 margin: '0px',
                //                 marginBottom: '20px',
                //                 padding: '20px',
                //                 paddingBottom: '0px',
                //                 border: 'none',
                //                 backgroundColor: '#4ECDC4',
                //                 color: '#FF6B6B'
                //             },
                //             description: {
                //                 margin: '0px',
                //                 padding: '0px',
                //                 paddingBottom: '20px',
                //                 paddingLeft: '20px'
                //             },
                //             resources: {
                //     resource: {
                //       name: {
                //         padding: '10px',
                //         paddingLeft: '20px',
                //         backgroundColor: '#FF6B6B',
                //         color: '#4ECDC4'
                //       },

                //       description: {
                //         paddingLeft: '20px'
                //       },

                //       actions: {
                //         action: {
                //           margin: '0px',
                //           marginBottom: '10px',
                //           padding: '0px',

                //           invitation: {
                //             border: 'none',
                //             backgroundColor: '#C7F464',
                //             color: '#556270',

                //             text: {
                //               padding: '0px',
                //               paddingTop: '10px',
                //               paddingBottom: '10px',
                //               paddingLeft: '30px'
                //             }
                //           },

                //           description: {
                //             borderLeft: '10px solid #C7F464',
                //             padding: '20px',
                //             fontSize: '16px',
                //             color: '#C7F464'
                //           },

                //           $hover: {
                //             invitation: {
                //               backgroundColor: '#FF6B6B',

                //               text: {
                //                 color: '#556270'
                //               }
                //             },

                //             description: {
                //               borderLeft: '10px solid #FF6B6B'
                //             }
                //           }
                //         }
                //       }
                //     }
                //   }
                //         }
                //     }
                },
            customFonts: {
                "googleFonts": "https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700,900"
            }
            
            
        });
    </script>
  <!-- /Embed -->  

</body>
</html>