<!DOCTYPE html>
<html>
    <head>
        <!-- Configurações -->
        <meta charset="UTF-8">
        <title>Trampaki</title>
        <meta name="description" content="Cliente web Trampaki">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/png" href="/view/img/fav_logo.png"/>        
        
        <!-- Estilos -->
        <script type="text/javascript" src="configuration/sistema_global.js"></script>
        <link rel="stylesheet" href="/view/css/pagina_404.css" type="text/css"/>
        
        <!-- Font -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700,800" rel="stylesheet">
    
    </head>
    <body>
        <div class="ops-wrapper">
            <h2>OPS... 404</h2>
            <br>
            <h1>PERDIDO?</h1>
        </div>
    </body>
</html>