<!DOCTYPE html>
<html lang="PT-BR">
    <head>
        <!-- Configurações -->
        <meta charset="UTF-8">
        <title>Trampaki</title>
        <meta name="description" content="Cliente web Trampaki">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/png" href="view/img/fav_logo.png"/>
        
        <!-- Bootstrap -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700,800" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        
        <!-- GoogleMaps -->
        <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>

        <!-- Estilos -->
        <link rel="stylesheet" href="view/css/sistema_generico.css"  type="text/css"/>
        <link rel="stylesheet" href="view/css/sistema_principal.css" type="text/css"/>        
        <link rel="stylesheet" href="view/css/sistema_anunciante.css" type="text/css"/>
        
        <!-- *** Provisório *** -->
        <link rel="stylesheet" href="view/css/modal.css" type="text/css"/>

        <!-- Scripts -->
        <script src="view/js/sistema_generico.js"></script>
        <script src="view/js/sistema_anunciante.js"></script>
        <script src="view/js/mapa_anunciante.js"></script>
        
    </head>
    <body>
        <!-- Marcador Expandido =========================================================================== -->
        <div id="info-moldura">
            <div id="info-moldura-imagem">
                <div id="info-triangulo-imagem">
                    <div id="info-fundo-imagem"></div>
                </div>
            </div>
            <div id="info-fundo"></div>
            <div id="info-conteudo">
                <div id="info-centro">
                    <span id="titulo">Ayrton Felipe</span>
                    <div id="descricao">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                        magna aliquam erat volutpat.
                    </div>
                    <button id="pain" type="button" >Mais Detalhes</button>
                    <button id="momo" type="button">Me conectar!</button>
                </div>
            </div>
        </div>
        <!-- ============================================================================================== -->
        
        <!-- Modal ======================================================================================== -->
        <div id="modal_principal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <h2 id='modal_titulo'>Solicitacao Efetuada</h2>
                </div>
                <div class="modal-body">
                    <p id='modal_descricao'></p>
                </div>
                <div class="modal-footer">
                    <button id='modal_retornar'>RETORNAR</button>
                </div>
            </div>
        </div>
        
        <!-- Barra latereal para chat e configurações do sistema ========================================== -->
        <div id="barraLateral">
            <div class="nav">
                <span id="configuracaoAjax" href="#" onclick="list()">MENSAGENS</span>
                <span id="menu-painel" href="#" onclick="barraLateralPainel()">PAINEL</span>
            </div>
            <div class="main">
                <div id="painel">
                    <span id="meu_perfil" onclick='carregarDadosAnunciante()'>MEU PERFIL</span>
                    <span onclick='novoAnuncio()' id='meus_servicos'>NOVO ANUNCIO</span> 
                    <span onclick='meusAnuncios()' id='meus_servicos'>MEUS ANUNCIOS</span>
                    <span onclick='visualizarSolicitacoes()'>SOLICITAÇÕES</span>                  
                    <span onclick='sairDoSistema()' id='sair'>SAIR</span>
                </div>
                <div id="chat"> 
                </div>
            </div>
        </div>
        <div id="hideshow" class="controle-lateral" >
            <p>MENU</p>
        </div>
        <script type="text/javascript">
            $('#hideshow').click(function(){
                
                if(document.getElementById('hideshow').style.left == '180px'){
                    $('#hideshow').css('left','0%');
                    $('#barraLateral').css('left','-180px');
                    // $('#barraLateral').toggle('show');
                }else{
                    $('#hideshow').css('left','180px');
                    $('#barraLateral').css('left','0px');
                    // $('#barraLateral').toggle('hide');
                }
            });

            
        </script>
        <!-- ============================================================================================== -->
        <div id="janela"></div>
        <!-- Elemento que recebe o mapa e as informações ================================================== -->
        <div id="mapa"></div>
        <!-- ============================================================================================== -->
        
        <!-- Chamada da MapEngine Trampaki ================================================================ -->
        
        <!-- ============================================================================================== -->
        
        <!-- Chamada da API JavaScript do Google Maps com minha chave -->
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOgRKKdJv0sJSZYLFQQUUjII20mGsbLj4&callback=mapEngineAnunciante"></script>
        
    </body>
</html>